.header{
    width: 100%;
    background: #34495E;
    height: 60px;
    color: white;
    line-height: 60px;
    .signInHeader{
        text-align: center;
        img{
            width: 40px;
            display: inline-block;
            vertical-align: middle;
        }
        span{
            font-size: 20px;
            display: inline-block;
            vertical-align: middle;
        }
    }
}