.loginContainer{
    text-align: center;
    .leftContainer{
        width: 30%;
        display: inline-block;
        vertical-align: top;
    }
    .rightContainer{
        width: 70%;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        .title1{
            display: block;
            color: #34495E;
            font-size: 20px;
            margin-bottom: 10px;
        }
        .title2{
            display: block;
            color: #F44336;
            font-size: 26px;
            margin-bottom: 20px;
        }
        .inputContainer{
            width: 80%;
            margin: 0 auto;
            margin-bottom: 10px;
            .nameInput{
                width: 20%;
            }
            .ico{
                color: #a7a7a7;
                font-size: 16px;
                width: 20%;
                display: inline-block;
                vertical-align: middle;
            }
            .inputs{
                display: inline-block;
                vertical-align: middle;
                width: 80%;
                height: 40px;
                font-family: 'Roboto';
                border: none;
                border-bottom: 1px solid black;
                padding-left: 5px;
                color: #A7A7A7;
            }
        }
        .link{
            font-size: 14px;
            text-align: center;
            color: #F44336;
            border-bottom: 1px solid #F44336;
            cursor: pointer;
            margin:0 auto;
            margin-top: 10px;
            margin-bottom: 10px;
            display: block;
            width: 35%;
            &:hover{
                color: #ea7c74;
            }
        }
        .button{
            width: 80%;
            background: #F44336;
            color: white;
            height: 30px;
            border-radius: 5px;
            line-height: 30px;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 20px;
            cursor: pointer;
            &:hover{
                box-shadow: 3px 3px 10px #000000;
            }
        }
    }

    
}

